@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.input-class {
  margin-left: 10px;
  padding: 8px;
}
.slider-wrapper {
  padding: 0 25%;
}
.p-input-icon-right > .p-inputtext {
  padding-right: 0px;
}
.grps-btn {
  border: 1px solid blue;
}
.align {
  align-items: baseline;
}
.text-font {
  color: black;
  font-weight: 600;
  line-height: 1.2;
  font-size: 16px;
}
.font-set {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .slider-wrapper {
    padding: 0 0%;
  }
  .output {
    padding: 10%;
  }
}
.emi-txt {
  font-size: 21px;
  color: #908d8d;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 4px;
}
.emi {
  font-size: 32px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #076bf5;
  font-weight: 600;
}
.currency-txt {
  font-size: 30px;
  font-family: ui-rounded;
}
.info-pay {
  font-size: 16px;
  color: darkgrey;
  font-weight: 600;
}
.p-field{
    padding: 0px !important;
}

.table-hover{
  cursor: pointer;
}

.p-card{
  padding: 0px !important;
}